*{
    margin: 0%;
    padding: 0%;
    transition: all 0.5s ;
    
}
.logo{
    padding-top: 19px;
    padding-left: 22px;
    font-size: 29px;
    font-weight: bolder;
    color: white;
}

/* ul{
    height: 24px;
    margin-left: auto;
    width: 51%;
    PADDING: 20PX;
    
} */

.liii{
    padding: 7px;
    display: inline-block;
    word-spacing: 1px;
    /* font-family: 'Hind Madurai', sans-serif; */
     cursor: pointer;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 600;
    
}

.not{
    margin-left: 20px;
    padding: 13px 18px;
    background-color:   #ffff0000;
    font-weight: bold; 
    cursor:pointer; 
    color: black; 
    transition: all 0.3s ease;
}
.not:hover{
    background-color: white;
    color: black;
}
.liii:hover{
    color: red;
}
a:link{
    color: black;
}
#navi{
    background-color:  #328b8b54;
    display: flex;
    
}
P{
    padding: 2PX;
}

.back{
    background-image: url('nop.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
    background-attachment: fixed;
   
}
.chup{
    height: 24px;
    margin-left: 40rem;
    width: 51%;
    PADDING: 20PX;
}
.liii a{
    text-decoration: none;
     color: white;
     font-size: 1rem;
     transition: all 0.3s linear;
}
.liii a:hover{
    color: rgb(56, 46, 46);
    font-weight: bold;
}
h1{
    
    padding-left: 93px;
    font-size: 68px;
    font-family: 'Ubuntu', sans-serif;
    transition-property: inherit;
}

.container{
    display: flex;
    justify-content: center;

}
.child1{
    background-image: url('tankkk.jpg');
    width: 365px;
    height: 409px;
    margin: 20px;
    border:1px solid rgb(212, 138, 138);
}
.child2{
    background-image: url('eyew.jpg');
    background-size: 130% 100%;
    width: 365px;
    height: 409px;
    margin: 20px;
    border:1px solid rgb(32, 24, 24);
}
.child3{
    background-image: url('sandle2.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 365px;
    height: 409px;
    margin: 20px;
    border:1px solid rgb(32, 24, 24);
}
.yes{
    margin-left: 93px;
        padding: 13px 18px;
        background-color: white;
        font-weight: bold; cursor: pointer;
        transition: all .3s ease;
}
.yes:hover{
    background-color: rgb(187, 175, 175);
}
#row2{
    background-color: #e8e5df;
    cursor: pointer;
}
.container2{
    display: flex;
    justify-content: center;
}
.item1{
    width: 220px;
    height: 304px;
    margin: 15px;
}
.item2{
    width: 220px;
    height: 304px;
    margin: 15px;
}
.item3{
    width: 220px;
    height: 304px;
    margin: 15px;
}
.item4{
    width: 220px;
    height: 304px;
    margin: 15px
}
.item5{
    width: 220px;
    height: 304px;
    margin:15px;
}
.second{
    background-image: url('model1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.last1{
    display: flex;
    justify-content: center;
    padding: 90px;
    background-color:#e8e5df;
    cursor: pointer;
}
.img1{
    /* background-image: url('global.png');
    background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    width: 264px;
    height: 240px;
    margin: 15px;
    
}
.img2{
    width: 264px;
    height: 240px;
    margin: 15px;
    
}
.img3{
    width: 264px;
    height: 240px;
    margin: 15px;
    
}
.img4{
    
    width: 264px;
    height: 240px;
    margin: 15px;  
}
.last{
    display: flex;
    justify-content: left;
    padding: 51px;
}
.l1{
    width: 264px;
    height: 240px;
    margin: 15px;
}
.n1{
    padding-top: 32px;
    padding-left: 19px;
}
.n2{
    list-style: none;
    padding-left: 19px;
    font-family: 'Hind Madurai', sans-serif;
    cursor:pointer;
    
}
.sp{
    word-spacing: 5px;
}
.icon a{
    width: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    transition: all  0.5s  linear;
    transform: translate(-8.8rem);
}
.icon a:hover{
    transform: translate(0);
}
.social,
.social2,
.social3,
.social4{
    list-style: none;
      
}
.social a
{
    text-decoration: none;
    color: black;
    background-color: rgb(46, 117, 184);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0%;
    padding: 0.2rem;
    position: fixed;
    top: 38%;
}

.social2 a{
    text-decoration: none;
    color: black;
    background-color: rgb(206, 96, 216);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0%;
    padding: 0.2rem;
    position: fixed;
    top: 42%;
}
.social3 a{
    text-decoration: none;
    color: black;
    background-color: rgb(20, 98, 216);
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0%;
    padding: 0.2rem;
    position: fixed;
    top: 46%;

}
.social4 a{
    text-decoration: none;
    color: black;
    background-color: rgb(59, 151, 255);
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0%;
    padding: 0.2rem;
    position: fixed;
    top: 50%;

}